@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Roboto:300,400,700');

.primary-heading {
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
}

.sub-heading {
  font-size: 3.2rem;
  text-align: center;
}

.logo {
  font-size: 2rem;
}
